* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    color: #000;
    width: 100%;
    position: relative;
}

.main {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin-top: 20px;
}
